.form-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
}
.form-title {
	font-size: 2.5em;
	color: var(--clr-primary-400);
}

.form {
	display: flex;
	flex-direction: column;
	width: 450px;
	padding: 40px 10px 10px;
}

.inputs-container {
	margin-bottom: 15px;
}

.input-with-icon {
	position: relative;
}

.input-icon-right {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 10px 10px 20px 10px;
	color: var(--clr-primary-400);
	font-size: 0.9em;
}

.form-input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid var(--clr-primary-400);
	border-radius: 3px;
}

.form-textarea {
	resize: none;
}

.form-error > p {
	font-size: 0.9em;
	color: rgb(222, 27, 27);
	margin-bottom: 6px;
}

.divider {
	text-align: center;
	margin: 0.5em;
}
